<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.8.0/build/styles/atom-one-dark-reasonable.min.css"
      rel="stylesheet"
    />
    <link href="styles.css" rel="stylesheet" />
  </head>
  <body data-bs-theme="dark">
    <div class="container py-3">
      <div class="justify-content-center align-items-center">
        <div>
          <!-- Settings Modal -->
          <div
            class="modal fade"
            id="settingsModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="settingsModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
                </div>
                <form id="settingsForm" class="modal-body">
                  <div class="form-group">
                    <label for="username" class="py-2">User Name:</label>
                    <input
                      type="text"
                      id="username"
                      class="form-control py-2"
                      value="<%= username %>"
                    />
                  </div>
                  <div class="form-group">
                    <label for="bot_name" class="py-2">Bot Name:</label>
                    <input
                      type="text"
                      id="bot_name"
                      class="form-control py-2"
                      value="<%= settings.bot_name %>"
                    />
                  </div>
                  <div class="form-group">
                    <label for="language" class="py-2">Language:</label>
                    <input
                      type="text"
                      id="language"
                      class="form-control py-2"
                      value="<%= settings.language %>"
                    />
                  </div>
                  <div class="flex flex-column border rounded p-3 my-3">
                    <div class="form-group">
                      <label for="bot_backend.rate_limit_ms" class="py-2">rate_limit_ms:</label>
                      <input
                        type="number"
                        id="bot_backend.rate_limit_ms"
                        class="form-control py-2"
                        value="<%= settings.bot_backend.rate_limit_ms %>"
                      />
                    </div>
                    <div class="form-group d-flex align-items-center">
                      <label for="bot_backend.temperature" class="py-2">temperature:</label>
                      <input
                        type="range"
                        class="form-control-range flex-grow-1 m-2"
                        id="bot_backend.temperature"
                        min="0.01"
                        max="1.99"
                        step="0.01"
                        value="<%= settings.bot_backend.temperature %>"
                        data-display="bot_backend.temperature_display"
                      />
                      <input
                        type="text"
                        readonly
                        class="form-control py-2"
                        style="width: 60px"
                        id="bot_backend.temperature_display"
                        value="<%= settings.bot_backend.temperature %>"
                      />
                    </div>
                    <div class="form-group d-flex align-items-center">
                      <label for="bot_backend.top_p" class="py-2">top_p:</label>
                      <input
                        type="range"
                        class="form-control-range flex-grow-1 m-2"
                        id="bot_backend.top_p"
                        min="0.0"
                        max="1.0"
                        step="0.01"
                        value="<%= settings.bot_backend.top_p %>"
                        data-display="bot_backend.top_p_display"
                      />
                      <input
                        type="text"
                        readonly
                        class="form-control py-2"
                        style="width: 60px"
                        id="bot_backend.top_p_display"
                        value="<%= settings.bot_backend.top_p %>"
                      />
                    </div>
                    <div class="form-group d-flex align-items-center">
                      <label for="bot_backend.top_k" class="py-2">top_k:</label>
                      <input
                        type="range"
                        class="form-control-range flex-grow-1 m-2"
                        id="bot_backend.top_k"
                        min="0"
                        max="200"
                        step="1"
                        value="<%= settings.bot_backend.top_k %>"
                        data-display="bot_backend.top_k_display"
                      />
                      <input
                        type="text"
                        readonly
                        class="form-control py-2"
                        style="width: 60px"
                        id="bot_backend.top_k_display"
                        value="<%= settings.bot_backend.top_k %>"
                      />
                    </div>
                    <div class="form-group d-flex align-items-center">
                      <label for="bot_backend.typical_p" class="py-2">typical_p:</label>
                      <input
                        type="range"
                        class="form-control-range flex-grow-1 m-2"
                        id="bot_backend.typical_p"
                        min="0.0"
                        max="1.0"
                        step="0.01"
                        value="<%= settings.bot_backend.typical_p %>"
                        data-display="bot_backend.typical_p_display"
                      />
                      <input
                        type="text"
                        readonly
                        class="form-control py-2"
                        style="width: 60px"
                        id="bot_backend.typical_p_display"
                        value="<%= settings.bot_backend.typical_p %>"
                      />
                    </div>
                    <div class="form-group d-flex align-items-center">
                      <label for="bot_backend.repetition_penalty" class="py-2"
                        >repetition_penalty:</label
                      >
                      <input
                        type="range"
                        class="form-control-range flex-grow-1 m-2"
                        id="bot_backend.repetition_penalty"
                        min="0.0"
                        max="1.5"
                        step="0.01"
                        value="<%= settings.bot_backend.repetition_penalty %>"
                        data-display="bot_backend.repetition_penalty_display"
                      />
                      <input
                        type="text"
                        readonly
                        class="form-control py-2"
                        style="width: 60px"
                        id="bot_backend.repetition_penalty_display"
                        value="<%= settings.bot_backend.repetition_penalty %>"
                      />
                    </div>
                    <div class="form-group">
                      <label for="bot_backend.max_new_tokens" class="py-2">max_new_tokens:</label>
                      <input
                        type="number"
                        id="bot_backend.max_new_tokens"
                        class="form-control py-2"
                        value="<%= settings.bot_backend.max_new_tokens %>"
                      />
                    </div>
                    <div class="form-group">
                      <label for="bot_backend.token_limit" class="py-2">token_limit:</label>
                      <input
                        type="number"
                        id="bot_backend.token_limit"
                        class="form-control py-2"
                        value="<%= settings.bot_backend.token_limit %>"
                      />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                      Close
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Prompt Modal -->
          <div
            class="modal fade"
            id="promptModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="promptModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="promptModalLabel">Prompt Templates</h5>
                </div>
                <form id="promptForm" class="modal-body">
                  <div class="form-group">
                    <label for="prompt_templates.system_message" class="py-2"
                      >System Message:</label
                    >
                    <input
                      type="text"
                      id="prompt_templates.system_message"
                      class="form-control py-2"
                      value="<%= settings.prompt_templates.system_message %>"
                    />
                  </div>
                  <div class="form-group">
                    <label for="prompt_templates.user_message" class="py-2">User Message:</label>
                    <input
                      type="text"
                      id="prompt_templates.user_message"
                      class="form-control py-2"
                      value="<%= settings.prompt_templates.user_message %>"
                    />
                  </div>
                  <div class="form-group">
                    <label for="prompt_templates.assistant_message" class="py-2"
                      >Assistant Message:</label
                    >
                    <input
                      type="text"
                      id="prompt_templates.assistant_message"
                      class="form-control py-2"
                      value="<%= settings.prompt_templates.assistant_message %>"
                    />
                  </div>
                  <div class="form-group">
                    <label for="prompt_templates.suffix" class="py-2">Suffix:</label>
                    <textarea id="prompt_templates.suffix" class="form-control py-2" rows="1">
<%= settings.prompt_templates.suffix.join("\n") %></textarea
                    >
                  </div>
                  <div class="form-group">
                    <label for="prompt_templates.prefix" class="py-2">Prefix:</label>
                    <textarea id="prompt_templates.prefix" class="form-control py-2" rows="15">
<%= settings.prompt_templates.prefix.join('\n') %></textarea
                    >
                  </div>
                  <div class="form-group">
                    <label for="prompt_templates.history" class="py-2">History:</label>
                    <textarea id="prompt_templates.history" class="form-control py-2" rows="15">
<%= settings.prompt_templates.history.join('\n') %></textarea
                    >
                  </div>
                  <div class="form-group">
                    <label for="prompt_templates.tools" class="py-2">Tools:</label>
                    <textarea id="prompt_templates.tools" class="form-control py-2" rows="15">
<%= settings.prompt_templates.tools.join('\n') %></textarea
                    >
                  </div>
                  <div class="form-group">
                    <label for="prompt_templates.bot_browser" class="py-2"
                      >Bot-Browser Prompt:</label
                    >
                    <textarea id="prompt_templates.bot_browser" class="form-control py-2" rows="10">
<%= settings.prompt_templates.bot_browser.join('\n') %></textarea
                    >
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                      Close
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="d-flex flex-row align-items-center justify-content-end">
              <!-- Prompt button -->
              <div class="input-group-append">
                <button
                  type="button"
                  class="btn btn-warning"
                  data-bs-toggle="modal"
                  data-bs-target="#promptModal"
                >
                  Prompt
                </button>
              </div>
              <!-- Settings button -->
              <div class="input-group-prepend">
                <button
                  type="button"
                  class="btn btn-secondary ms-2"
                  data-bs-toggle="modal"
                  data-bs-target="#settingsModal"
                >
                  <i class="fas fa-cog"></i>
                </button>
              </div>
            </div>
            <!-- App Title -->
            <h1 class="text-center flex-grow-1 my-3">🤖 open-chatbot-js 🤖</h1>
            <!-- Nav bar -->
            <nav
              class="navbar navbar-expand-lg flex-grow-1 rounded border navbar-dark bg-dark my-2"
            >
              <!-- Bot list -->
              <div class="container-fluid d-flex flex-row">
                <div id="botList" class="d-flex flex-row flex-grow-1 justify-content-end">
                  <div class="input-group-append me-2">
                    <ul class="navbar-nav">
                      <li class="nav-item dropdown position-static">
                        <a
                          class="nav-link dropdown-toggle"
                          href="#"
                          id="addBotDropdownMenuLink"
                          role="button"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                        >
                          <i class="fa-solid fa-plus"></i> add bot
                        </a>
                        <ul
                          id="addBotDropdown"
                          class="dropdown-menu dropdown-menu-dark position-absolute w-100"
                          aria-labelledby="addBotDropdownMenuLink"
                        ></ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <!-- Message History -->
          <div
            id="messages"
            class="d-flex flex-column border rounded overflow-auto p-2 my-2"
            style="height: 57vh"
          ></div>
          <!-- Chat Form -->
          <form id="messageForm" class="input-group">
            <div class="d-flex flex-column flex-grow-1">
              <!-- Message Input -->
              <div id="userInput" class="textarea form-control flex-grow-1" contenteditable></div>
              <div class="d-flex flex-row flex-grow-1 align-items-end justify-content-between my-2">
                <!-- Reset button -->
                <div class="input-group-append">
                  <button id="resetButton" type="button" class="btn btn-danger">
                    Reset Conversation
                  </button>
                </div>
                <!-- Send button -->
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary">Send</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked-highlight/lib/index.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
